@use 'colors.module';
@use 'text.module';
@use 'breakpoints.module';

body {
  color: colors.$grey-900;
  font-family: text.$font-inter;
}

html,
body,
button,
input {
  color: inherit;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

* {
  box-sizing: border-box;
}
